@using DepozitApp.Domain.ViewModels;

@model IEnumerable<MounthlyDepozitReportViewModel>

@foreach (var dep in Model)
{
    <p>@dep.NumberMounth</p>
    <p>@dep.MounthDepozit</p>
    <p>@dep.MounthlyIncome</p>
    <p>@dep.MounthlyPlus</p>
    <p>@dep.DateCreate</p>
}
